<h1>MadLib Result</h1>

<p> O say can you @Model.Verb1 by the dawns early @Model.Noun1 What so @Model.Adverb we @Model.VerbPast at the twilights last gleaming, </p>

<p>Whose broad @Model.PluralNoun1 and bright @Model.PluralNoun2 through the @Model.Adjective1 fight, O'er the @Model.PluralNoun3 we watched, were so gallantly @Model.VerbIng ? And the rockets' @Model.Color glare, </p>

<p> the @Model.PluralNoun4 bursting in 
@Model.Noun2, Gave proof through the night that our @Model.Noun3 was still there; @Model.Interjection, does that @Model.Adjective2 banner yet @Model.Verb2 , O'er the land of the @Model.Adjective3 and the home of the @Model.Adjective4 </p>
