<h1>MadLib Result</h1>
<p>@Model.Noun1</p>
<p>@Model.Verb1</p>
<p>@Model.Adverb</p>
<p>@Model.VerbPast</p>
<p>@Model.PluralNoun</p>
<p>@Model.PluralNoun2</p>
<p>@Model.Adjective1</p>
<p>@Model.PluralNoun3</p>
<p>@Model.VerbIng</p>
<p>@Model.Color</p>
<p>@Model.PluralNoun4</p>
<p>@Model.Noun2</p>
<p>@Model.Noun3</p>
<p>@Model.Interjection</p>
<p>@Model.Adjective2</p>
<p>@Model.Verb2</p>
<p>@Model.Adjective3</p>
<p>@Model.Adjective4</p>
